<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header-css"></head>

<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div th:if="${param.success}">
                <div class="alert alert-info">
                    You've successfully created a new product!
                </div>
            </div>

            <h1>Create new product</h1>

            <form th:action="@{/add-product}" th:object="${product}" method="post">

                <div class="form-group"
                     th:classappend="${#fields.hasErrors('name')}? 'has-error':''">
                    <label for="name" class="control-label">Name</label> <input
                        id="name" class="form-control" th:field="*{name}"/>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('name')}" th:text="${error}">Validation
                        error</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('model')}? 'has-error':''">
                    <label for="model" class="control-label">Model</label> <input
                        id="model" class="form-control" th:field="*{model}"/>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('model')}" th:text="${error}">Validation
                        error</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('specification')}? 'has-error':''">
                    <label for="specification" class="control-label">Specification</label> <input
                        id="specification" class="form-control" th:field="*{specification}"/>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('specification')}" th:text="${error}">Validation
                        error</p>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('category')}? 'has-error':''">
                    <label for="category" class="control-label">Category</label>
                    <select class="form-control input-lg" name="category" autofocus="true" id="category"
                            th:field="*{category}">
                        <option th:each="opt:${T(com.sda.onlineshop.componentspc.model.constant.ProductCategory).values()}"
                                th:text="${opt.name()}" th:value="${opt}">
                        </option>
                    </select>
                </div>

                <div class="form-group"
                     th:classappend="${#fields.hasErrors('manufacturer')}? 'has-error':''">
                    <label for="manufacturer" class="control-label">Manufacturer</label> <input
                        id="manufacturer" class="form-control" th:field="*{manufacturer}"/>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('manufacturer')}" th:text="${error}">Validation
                        error</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('price')}? 'has-error':''">
                    <label for="price" class="control-label">Price</label> <input
                        id="price" class="form-control" th:field="*{price}"/>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('price')}" th:text="${error}">Validation
                        error</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('promoPrice')}? 'has-error':''">
                    <label for="promoPrice" class="control-label">Promo Price</label> <input
                        id="promoPrice" class="form-control" th:field="*{promoPrice}"/>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('promoPrice')}" th:text="${error}">Validation
                        error</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('mainImageUrl')}? 'has-error':''">
                    <label for="mainImageUrl" class="control-label">Main Image URL</label> <input
                        id="mainImageUrl" class="form-control" th:field="*{mainImageUrl}"/>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('mainImageUrl')}" th:text="${error}">Validation
                        error</p>
                </div>


                <div class="form-group">
                    <button type="submit" class="btn btn-success">Create</button>

                </div>

            </form>
        </div>
    </div>
</div>


<div th:replace="fragments/footer :: footer"></div>
</body>

</html>
